.greeting {
  font-weight: 600;
  font-size: 24px;
}

.container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 30px;
}

p {
  font-size: 15px;
}

img {
  margin-top: 40px;
  width: 180px;
  height: 180px;
  border-radius: 100px;
}

.timelines {
  font-size: 15px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.date {
  display: "inline-block";
  width: 110px;
  color: #ffffff91;
}
